<configuration>
  <!-- Insert the current time formatted as "yyyyMMdd'T'HHmmss" under
       the key "bySecond" into the logger context. This value will be
       available to all subsequent configuration elements. -->
  <timestamp key="bySecond" datePattern="yyyyMMdd'T'HHmmss"/>

  <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%date{dd/MM/YY} %-4relative %level %logger{35} %msg %n</pattern>
    </encoder>
  </appender>
  <appender name="FILE" class="ch.qos.logback.core.FileAppender">
    <file>iEvl-${bySecond}.log</file>
    <append>true</append>
    <!-- encoders are assigned the type
         ch.qos.logback.classic.encoder.PatternLayoutEncoder by default -->
    <encoder>
      <pattern>%d;%replace(%caller{1}){'Caller\+0\s*at\s*([^\n]*)\n','$1'};%level;%logger{35};%msg %n</pattern>
    </encoder>
  </appender>
  <!-- We want error logging from this logger to go to an extra appender
       It still inherits CONSOLE STDOUT from the root logger -->
  <logger name="org.eclipse.epsilon.evl.IncrementalEvlModule" level="INFO">
    <appender-ref ref="FILE" />
  </logger>
  <logger name="hu.bme.mit.trainbenchmark.benchmark.epsilon.operations.EpsilonEvlModelOperationFactory" level="DEBUG">
    <appender-ref ref="FILE" />
  </logger>
  <root level="OFF">
    <appender-ref ref="STDOUT" />
  </root>
</configuration>